footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vw * 118 / 1918);
    flex-shrink: 0;
    font-style: italic;
    background-color: #434937;
    background-image: url(../assets/footer.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    font-family: 'Pinyon Script', cursive;
    font-size: 1.55vw;
    color: #434937;
    text-shadow: none;
}

footer p {
    height: 100%;
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}